h1,
h2,
h3 {
    color: rgb(165, 9, 9)
}

[style="display: flex; justify-content: center;"] {
    color: aqua;
}

[href^="http://"] {
    color: rgb(5, 236, 55);
}

[href$=".ru"] {}

body {
    color: #c608ec;
    font-family: calibri;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    background-image: linear-gradient(rgb(255, 136, 0) 10%, rgb(4, 117, 9)30%, rgb(255, 153, 0) 98%);
}

/* 
    шрифт и его функции
*/

.box {
    width: 100px;
    height: auto;
    margin: 20px;
    padding: 30px;
    border-inline: 5px solid rgb(9, 185, 185);
    border-bottom: 5px solid rgb(185, 21, 9);
    border-style: double;
    border-radius: 10%;
    outline: 5px solid rgb(0, 255, 98);
    outline-offset: 10px;
    box-shadow: 5px 10px 20px rgb(0, 3, 1) inset;
}

table {}

.modal {
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 40%;

    position: fixed;
    top: 100px;
    left: 100px;
}

input::placeholder {
    color: blueviolet;
    background-color: lightgreen;
}

.custom-file::file-selector-button {
    height: 32px;
    padding-inline: 12px;
    color: aqua;
    background-color: blue;
    border: 3px dashed rgba(0, 255, 0, 0.61);
    border-radius: 10px;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 100px auto;
    grid-template-rows: 40px 80px;
    justify-content: center;
    align-items: stretch;

}

.grid-element {
    background-color: aquamarine;
}

.big {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* 
    чем ниже тем главнее 
*/